.navbar-brand{
  display:block;
  width:130px;
  height:60px;
  padding:0;
  margin:0;
  margin-left:25px;
}

.navbar-nav>li>a{
  color:#111;
  transition: all 0.2s ease;
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 2px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
}
