<div class="row">
  <div class="col-md-12">
    <h1 class="display-4 text-center">Transfer</h1>
  </div>


  <div class="col-md-12">
      <div class="form-group">
          <label for="token-id">Token ID</label>
          <select name="token-id" class="form-control" [(ngModel)]="tokenIdIdx">
              <option value="-1">none</option>
              <option *ngFor="let t of tokens; let i = index" value="{{i}}">{{t | hashShortener:6}}</option>
          </select>


          <!-- <input type="text" class="form-control" id="token-id" placeholder="Enter the token id"  [(ngModel)]="tokenId" minlength="66" required #tok="ngModel"> -->
        </div>
        <div class="form-group">
          <label for="to-address">Address to transfer</label>
          <input type="text" class="form-control" id="to-address" placeholder="Enter the recipent's address" [(ngModel)]="toAdress" minlength="42" required #addr="ngModel">
        </div>
        <button type="submit" class="btn btn-primary" (click)="transfer()" [disabled]=" addr.errors">Send transfer request</button>
  </div>

  <div  *ngIf="errorMessage" class="col-md-12 text-center mt-3">
    <ngb-alert [type]="'danger'" [dismissible]="false">
        <strong>Error!</strong> {{errorMessage}}
    </ngb-alert>
  </div>

  <div *ngIf="txHash != ''" class="col-md-12 mt-3">
    <p><b>tx hash:</b> <a href="https://kovan.etherscan.io/tx/{{txHash}}">{{txHash}}</a></p>
  </div>

<!--   <div class="col-md-12">
    <h3 class="text-center">Previous transfers requests</h3>
    <ul class="list-group transactions">
      <li *ngFor="let t of transfers" class="list-group-item">
          <span class="block-number"><b>block:</b> {{t.blockNumber}}</span>
          <span class="from-address"><b>from:</b> 0x{{t.topics[1] | slice:26}}</span>
          <span class="to-address"><b>to:</b> 0x{{t.topics[2] | slice:26}}</span>
          <span class="token-id"><b>token id:</b> {{t.topics[3]}}</span>
      </li>
    </ul>
  </div>
 -->

</div>

<div *ngIf="isLoading" id="loader-spinner" class="load-indicator" >
  <div class="mid">
    <h4 *ngIf="loaderMessage!=''">{{loaderMessage}}</h4>
    <span class="glyphicon glyphicon-refresh fast-right-spinner"></span>
  </div>
</div>



