<div class="row">
  <div class="col-md-12">
    <h1 class="display-4 text-center">Withdraw</h1>
    <b>Token Contract address:</b> {{tokenContractAddr}} <a href="https://kovan.etherscan.io/address/{{tokenContractAddr}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a><br>
    <b>Deposit Contract address:</b> {{depositContractAddr}} <a href="https://{{_bs.getHomeBlockExplorer()}}/address/{{depositContractAddr}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a>  
  
  </div>
</div>

<div class="row">

<!--   <div class="col-md-12">
    <div class="form-group">
      <label for="approve-tx-hash">Approval TX Hash</label>
      <input type="text" class="form-control" id="approve-tx-hash" placeholder="Enter the  custodian approval tx hash" [(ngModel)]="custApproveTxHash" minlength="66" required #custapptxhash="ngModel">
    </div>
    <button type="submit" class="btn btn-primary" (click)="withdraw()" [disabled]="custapptxhash.errors">Initiate withdraw</button>
  </div> -->

  <ngb-tabset>
    <ngb-tab title="Tokens">
      <ng-template ngbTabContent>
          <div class="col-md-12 mt-3 mb-5 pl-0 pr-0">
            <ul class="list-group transactions">
              <li *ngFor="let t of tokens; let i = index" class="list-group-item">
                <div class="row">
                  <div class="col-md-5">
                    <span class="token-id" ngbTooltip="{{t.topics[3]}}">
                      <b>token id:</b> {{t.topics[3] | hashShortener:6}}
                      <!-- <a href="https://kovan.etherscan.io/token/{{t.topics[3]}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a> -->
                    </span>
                  </div>
                  <div class="col-md-5">
                    <span class="minter-address" ngbTooltip="{{t.transactionHash}}">
                      <b>Approval hash:</b> {{t.transactionHash | hashShortener:4}}
                      <a href="https://kovan.etherscan.io/tx/{{t.transactionHash}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
                    </span>
                  </div>
                  <div class="col-md-2 text-right">
                    <button class="btn btn-sm btn-primary" (click)="withdraw(i)">Withdraw</button>
                  </div>
                </div>
              </li>
            </ul>

            <div *ngIf="noTokensFound" class="col-md-12 mt-3 text-center">
              <ngb-alert [type]="'warning'" [dismissible]="false">
                <b>No tokens found.</b>
              </ngb-alert>
            </div>
          </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab title="Withdrawn tokens">
      <ng-template ngbTabContent>
          <div class="col-md-12 mt-3 mb-5 pl-0 pr-0">
              <ul class="list-group transactions">
                <li *ngFor="let t of withdrawnTokens; let i = index" class="list-group-item">
                  <div class="row">
                    <div class="col-md-6">
                      <span class="token-id" ngbTooltip="{{t.topics[3]}}">
                        <b>token id:</b> {{t.topics[3] | hashShortener:10}}
                        <!-- <a href="https://kovan.etherscan.io/token/{{t.topics[3]}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a> -->
                      </span>
                    </div>
                    <div class="col-md-6">
                      <span class="minter-address" ngbTooltip="{{t.transactionHash}}">
                        <b>Approval hash:</b> {{t.transactionHash | hashShortener:6}}
                        <a href="https://kovan.etherscan.io/tx/{{t.transactionHash}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
                      </span>
                    </div>
                  </div>
                </li>
              </ul>

              <div *ngIf="noWithdrawnTokensFound" class="col-md-12 mt-3 text-center">
                <ngb-alert [type]="'warning'" [dismissible]="false">
                  <b>No  withdrawn tokens found.</b>
                </ngb-alert>
              </div>
            </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>









  <div *ngIf="resultHash != ''" class="col-md-12 mt-3 text-center">
    <ngb-alert [type]="'success'" [dismissible]="false">
      <b>tx hash:</b> {{resultHash}} <a href="https://{{_bs.getHomeBlockExplorer()}}/tx/{{resultHash}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
    </ngb-alert>
  </div>

  <div  *ngIf="errorMessage" class="col-md-12 text-center mt-3">
    <ngb-alert [type]="'danger'" [dismissible]="false">
        <strong>Error!</strong> {{errorMessage}}
    </ngb-alert>
  </div>
</div>



<div *ngIf="isLoading" id="loader-spinner" class="load-indicator" >
  <div class="mid">
    <h4 *ngIf="loaderMessage!=''">{{loaderMessage}}</h4>
    <span class="glyphicon glyphicon-refresh fast-right-spinner"></span>
  </div>
</div>


<div *ngIf="accountCheckerVisible" id="withdraw-modal" class="input-modal d-flex h-100" >
  <div class="modal-body justify-content-center align-self-center col-md-6 offset-md-3 text-center">

    <h3>The selected account is</h3>

    <h5 class="mt-3 mb-3">{{_bs.getCurrentAddress()}}</h5>

    <h5 class="mb-5">Do you want to use the account above for signing the tx?<br>(You can choose an another account in metamask.)</h5>

    <button (click)="continueWithdraw()">YES</button>


  </div>
</div>



