<app-nav-bar></app-nav-bar>

<div class="jumbotron text-center">
  <h1 class="nunito-bold"><strong>peaceBridge</strong></h1>
  <h5><strong>Network:</strong> {{ _bs.getConnectedNetworkName() }} </h5>
  <h5 class="address" ngbTooltip="Click to copy to clipboard"  ngxClipboard [cbContent]="currentAccount"><strong>Address:</strong> {{ currentAccount | hashShortener:4}} <small><i class="glyphicon glyphicon-copy"></i></small></h5>
</div>

<div id="start-here"  class="container-fluid">
  <div class="col-lg-8 offset-lg-2">
    <router-outlet></router-outlet>
  </div>
</div>
