* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.load-indicator{
  position: fixed;
  top: 0;
  left: 0;
  width:100vw;
  height: 100vh;
  background:rgba(0,0,0,0.8);
  z-index:999999999;
}

.load-indicator .mid{
    width: 320px;
    height: 200px;
    background-color: white;
    border-radius: 6px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    text-align: center;
    padding-top: 50px;
    color: #444;
}
