.row{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important; 
}

ul.transactions span{
  display: block;
}

/* latest block to the top */
.list-group {
  flex-direction: column-reverse;
}

h5{
  font-weight: bold;
}

.mid{
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace !important; 
}

.btn{
  background-color: darkolivegreen;
  border-color: darkolivegreen
}