ul.transactions span{
  display: block;
}

/* latest block to the top */
.list-group {
  flex-direction: column-reverse;
}


#challenge-input{
  position: fixed;
  background:rgba(0,0,0,0.8);
  z-index:999999990;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#challenge-input .modal-body{
  position: relative;
  background-color: white;
  border-radius: 6px;
  padding-top: 50px;
  color: #444;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

ngb-tabset {
  width:100%;
}

.list-group-item {
  border-top: 0;
  border-left:0;
  border-right:0;

}

.proof-container {
  min-height: 30vh;
  max-height: 30vh;
  overflow-y: scroll;
  border-top: solid 1px #eee;
}

li.active {
  background: #000;
}



.tab-title {
  line-height: 24px;
}

.tab-title span {
  display: inline-block;
  opacity: 0.3;
  line-height: 24px;
  margin-left: 5px;
}

.tab-title span:hover {
  opacity: 1;
}

