<div class="row">
  <div class="col-md-12 mb-5">
    <h1 class="display-4 text-center">Challenge</h1>
    <div class="row mt-4">
        <div class="col-md-6 offset-md-3 contract-container">
          <h5>Deposit Contract address:</h5>
          <p class="hash mb-0 mt-1" ngxClipboard [cbContent]="depositContractAddr"><span ngbTooltip="Click to copy to clipboard">{{depositContractAddr}}</span>
            <a href="https://{{_bs.getHomeBlockExplorer()}}/address/{{depositContractAddr}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
          </p>
        </div>
      </div>

  </div>

  <div  *ngIf="errorMessage" class="col-md-12 text-center mt-3">
    <ngb-alert [type]="'danger'" [dismissible]="false">
        <strong>Error!</strong> {{errorMessage}}
    </ngb-alert>
  </div>

  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>
          <div  class="tab-title"  (click)="tabSwitch('withdraw')">Withdrawals<span [className]="isWithdrawalsRefreshing?'glyphicon glyphicon-refresh fast-right-spinner':'glyphicon glyphicon-refresh'" (click) = "refreshTab('withdraw')"></span></div>
      </ng-template>

      <ng-template ngbTabContent>
        <div *ngIf="transactionHash == ''" class="col-md-12 pl-0 pr-0 mb-5">
          <div *ngIf="withdrawals.length > 0">
            <ul class="list-group transactions">
              <li *ngFor="let t of withdrawals; let i = index" class="list-group-item">
                <div class="row">
                    <div class="col-md-4">
                      <span><b>block:</b> {{t.blockNumber}}</span>
                      <span ngbTooltip="{{t.transactionHash}}"><b>txHash:</b> {{t.transactionHash | hashShortener:4}}</span>
                    </div>
                    <div class="col-md-4 text-center">
                      <span ngbTooltip="{{t.topics[2]}}"><b>token id:</b> {{t.topics[2] | hashShortener:6}}</span>
                    </div>
                    <div class="col-md-4 text-right">
                      <span ngbTooltip="0x{{t.topics[1] | slice:26 }}"><b>to:</b> 0x{{t.topics[1] | slice:26 | hashShortener:4}}</span>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6 text-left">
                      <span class="token-id"><b>Challenge period ends at</b> {{t.challengeEnd | date:'short'}}</span>
                    </div>
                    <div class="col-md-6 text-right">
                      <button class="btn btn-sm btn-primary"  (click)="openModal(i, false)">Challenge this</button>
                    </div>
                </div>
              </li>
            </ul>
          </div>
          <div *ngIf="withdrawals.length == 0">
            <p>No challengeable withdrawals found</p>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
          <div class="tab-title" (click)="tabSwitch('pending')">Pending challenges<span [className]="isPendingRefreshing?'glyphicon glyphicon-refresh fast-right-spinner':'glyphicon glyphicon-refresh'"  (click) = "refreshTab('pending')"></span></div>
      </ng-template>

      <ng-template ngbTabContent>
        <div *ngIf="challenges.length > 0">
          <ul class="list-group transactions">
            <li *ngFor="let t of challenges; let i = index" class="list-group-item">
              <div class="row">
                <div class="col-md-4 text-left">
                  <span ngbTooltip="{{t.data}}"><b>token id:</b> {{t.data | hashShortener:8}}</span>
                </div>

                <div class="col-md-4 text-center">
                  <span ngbTooltip="{{t.transactionHash}}"><b>txHash:</b> {{t.transactionHash | hashShortener:8}}</span>
                </div>

                <div class="col-md-4  text-right">
                  <span><b>block:</b> {{t.blockNumber}}</span>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-6 text-left">
                  <span ngbTooltip="0x{{t.topics[1] | slice:26 }}"><b>challenger:</b> 0x{{t.topics[1] | slice:26 | hashShortener:8}}</span>
                </div>
                <div class="col-md-6 text-right">
                  <span ngbTooltip="0x{{t.topics[2] | slice:26 }}"><b>deposited to:</b> 0x{{t.topics[2] | slice:26 | hashShortener:8}}</span>
                </div>
              </div>

              <div class="row mt-3">
                  <div class="col-md-12 text-right">
                    <button class="btn btn-sm btn-primary"  (click)="openModal(i, true)">Send proof of custody</button>
                  </div>
              </div>
            </li>
          </ul>
        </div>

        <div *ngIf="challenges.length == 0">
          <p>No pending challenges found</p>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <div *ngIf="transactionHash != ''" class="col-md-12 mt-3 text-center">
    <ngb-alert [type]="'success'" [dismissible]="false">
      <h5>The transaction was successful </h5>
      <b>tx hash:</b> {{transactionHash}} <a href="https://ropsten.etherscan.io/tx/{{transactionHash}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
    </ngb-alert>

    <div *ngIf="challengerReward > 0">
      <h4>Challenge was successful</h4>
      <p>You were rewarded with <b>{{challengerReward}} WEI</b></p>
    </div>
    <div *ngIf="challengerReward <= 0 && challengeType=='future'">
        <h4>Challenge failed</h4>
    </div>
    <button class="btn btn-sm btn-primary"  (click)="newChallenge()">Done</button>
  </div>



</div>

<div *ngIf="isLoading" id="loader-spinner" class="load-indicator" >
  <div class="mid">
    <h4 *ngIf="loaderMessage!=''">{{loaderMessage}}</h4>
    <span class="glyphicon glyphicon-refresh fast-right-spinner"></span>
  </div>
</div>

<div *ngIf="isChallengeActivated" id="challenge-input" class="input-modal d-flex h-100" >
  <div class="modal-body justify-content-center align-self-center col-md-6 offset-md-3 ">
    <div class="close-button" (click)="closeModal()">
      X
    </div>

    <h4 class="text-center mb-3">Challenge</h4>

    <ngb-alert *ngIf="suspiciousWithdrawal" [type]="'warning'" [dismissible]="false" class="text-center">
        <span><b>Token: </b> {{suspiciousWithdrawal.token | hashShortener:6 }}</span><br>
        <span><b *ngIf='!isResponse'>Withdrawn by: </b><b *ngIf='isResponse'>Challenger: </b> {{suspiciousWithdrawal.to | hashShortener:4 }}</span><br>
        <div *ngIf='isResponse'>
          <span><b>Challenge End Nonce </b> {{suspiciousWithdrawal.challengeEndNonce}} / <b>Last Proven Nonce </b> {{suspiciousWithdrawal.lastProvenNonce}}</span><br>
        </div>
    </ngb-alert>

    <h5 class="mb-0">Select your proof below:</h5>
    <div class="proof-container">

      <p *ngIf="proofs.length == 0" class="text-center">
        Loading proofs. Please wait.
        <span class="glyphicon glyphicon-refresh fast-right-spinner"></span>
      </p>

      <ul class="list-group transactions">
        <li *ngFor="let p of proofs; let i = index" class="list-group-item" [ngClass]="{'active': selectedProofIdx === i }" (click)="selectProof(i)">
          <div class="row">
              <div class="col-md-12">
                  <span><b>Nonce:</b> {{p.nonce}}</span>
                </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <span><b>From:</b> {{p.from | hashShortener:4 }}</span>
            </div>
            <div class="col-md-6">
              <span><b>To:</b> {{p.to | hashShortener:4 }}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <span><b>Transfer hash:</b> {{p.transferHash | hashShortener:6 }}<br>at block nr {{p.transferBlock}}</span>
            </div>
            <div class="col-md-6">
                <span><b>Approval hash:</b> {{p.approvalHash | hashShortener:6 }}<br>at block nr {{p.approvalBlock}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="isResponse == false">
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" name="type" value="past" [(ngModel)]="challengeType"> With past custody
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" name="type" value="future" [(ngModel)]="challengeType"> With future custody
      </label>
    </div>


    <div class="text-center">
      <button class="btn btn-primary" (click)="challenge()" [disabled]="selectedProofIdx == -1">Challenge</button>
    </div>

  </div>
</div>
