/* You can add global styles to this file, and also import other style files */
ngb-alert, .hash {
  word-break: break-all;
}

.contract-container{
  text-align: center;
}

.contract-container h5{
  font-size: 1em;
}
.contract-container p{
  font-size: 0.9em;
}
