<div class="row">
  <div class="col-md-12">
    <h1 class="display-4 text-center">Mint</h1>

    <div class="row mt-4">
      <div class="col-md-6 offset-md-3 contract-container">
        <h5>Token Contract address:</h5>
        <p class="hash mb-0 mt-1" ngxClipboard [cbContent]="tokenContractAddr"><span ngbTooltip="Click to copy to clipboard">{{tokenContractAddr}}</span>
          <a href="https://{{_bs.getForeignBlockExplorer()}}/address/{{tokenContractAddr}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
        </p>
      </div>
    </div>

  </div>

  <div  *ngIf="errorMessage" class="col-md-12 text-center mt-3">
    <ngb-alert [type]="'danger'" [dismissible]="false">
        <strong>Error!</strong> {{errorMessage}}
    </ngb-alert>
  </div>

  <div class="col-md-12 mt-3">
    <div class="form-group mt-3">
      <label for="depositAmount">Mint amount</label>
      <input type="text" class="form-control" id="mintAmount" name="mintAmount" placeholder="Amount" [(ngModel)]="amountToMint">
    </div>
    <div class="mt-4 text-center">
      <button class="btn btn-success" (click)="mint()">Mint</button>
    </div>
  </div>

  <div *ngIf="isMintingFinished" class="col-md-12 mt-3 text-center">
    <ngb-alert [type]="'success'" [dismissible]="false">
      <b>token id:</b> {{mintedTokenId}}<br/>
      <b>tx hash:</b> {{txHash}} <a href="https://{{_bs.getForeignBlockExplorer()}}/tx/{{txHash}}" target="_blank"><span class="glyphicon glyphicon-link"></span></a>
    </ngb-alert>
  </div>

</div>

<div *ngIf="isLoading" id="loader-spinner" class="load-indicator" >
  <div class="mid">
    <h4 *ngIf="loaderMessage!=''">{{loaderMessage}}</h4>
    <span class="glyphicon glyphicon-refresh fast-right-spinner"></span>
  </div>
</div>
